
.slideshow-container {
    background-color: #0A8AD4;
    max-width: 100%;
    height: 600px;
    margin: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#join {
    background-color: #FFFFFF;
    color: #011F5B;
    width: 200px;
    padding: 0px 20px 0px 20px;
    font-size: 2em;
}

.mySlides img {
    height: 600px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}