
/* Colors: #1A9AE4 #FFFFFF #011F5B #BDBBB0 */
/* Fonts:  */

.slideshow-container {
    background-color: #BDBBB0;
    max-width: 100%;
    height: 600px;
    margin: 0;
    display: flex;
    justify-content: center;
}
.mySlides img{
    height: 600px;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}