
/* Colors: #1A9AE4 #FFFFFF #011F5B #BDBBB0 */
/* Fonts:  */

@font-face {
    font-family: "CustomFont1";
    src: url("fonts/Arvo-Regular.ttf") format("ttf"), 
}

@font-face {
    font-family: "CustomFont2";
    src: url("fonts/LibreCaslonText-Regular.ttf") format("ttf");
}

#wrapper {
    margin: 0 auto;
    background-color: #1A9AE4;
    text-align: center;
}

nav {
    background-color: #011F5B;
    height: 200px;
}

#title {
    font-size: 3em;
}

#subpages {
    background-color: #1A9AE4;
    font-size: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 300px;
    margin: 20px;
}

#about {
    background-color: #FFFFFF;
    color: #011F5B;
    width: 200px;
}

#join {
    background-color: #FFFFFF;
    color: #011F5B;
    width: 200px;
}

#about_nav {
    background-color: #FFFFFF;
    color: #011F5B;
    width: 200px;
    font-size: 2em;
    margin: 150px;
    padding: 20px;
}

#join_nav {
    background-color: #FFFFFF;
    color: #011F5B;
    width: 200px;
    font-size: 2em;
    margin: 150px;
    padding: 20px;
}

#about_footer {
    text-decoration: none;
    color: #BDBBB0;
}

#join_footer {
    text-decoration: none;
    color: #BDBBB0;
}

a {
    text-decoration: none;
}

#logo {
    width: 180px;
    padding: 10px;
}

#hero {
    width: 1300px;
    height: 800px;
    object-fit: cover;
    object-position: center;
}

h1 {
    font-family: "CustomFont1", sans-serif;
    color: #FFFFFF;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

#collage {
    width: 200px;
}

footer {
    background-color: #011F5B;
    color: #BDBBB0;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    font-size: 1.5em;
    padding-bottom: 45px;
}